#main,body{
    /* I had to compress the backgroudn image in order to make it load faster*/
    background-image: url(./backgroundImageCompressed.jpg);
    background-size: cover; 
    background-attachment: fixed;


}
p{
    text-align:center;
}




